<div class="body-sign">
	<div class="up-box">
		<div class="logo-edit"></div>

		<%= form_for(@user) do |f| %>
			<div class="family_name_field">
				<h5>姓</h5>
				<%= f.text_field :family_name,class: "family_name_up_field" %>
			</div>

            <div class="first_name_field">
			<h5>名</h5>
				<%= f.text_field :name,class: "family_name_up_field" %>
		    </div>

		    <div class="family_kana_field">
				<h5>セイ</h5>
				<%= f.text_field :family_kana,class: "family_kana_up_field"  %>
			</div>

			<div class="first_kana_field">

				<h5>メイ</h5>
				<%= f.text_field :first_kana,class: "first_kana_up_field" %>
		    </div>

		
			<div class="email_up_field">
			　　<h4>email</h4>
				<%= f.text_field :email,class: "email_sign_up_field" %>
			</div>


			<%= f.submit '確定',class: "btn-orig-edit" %><br>

			<%= link_to "戻る", videos_path(current_user),class: "btn-link-edit" %>

			<div class="cancel-btn-box">
				<%= link_to "退会", cancel_path,class: "btn-cancel-edit" %>
			</div>
		<% end %>
	</div>
</div>