<div id="stage">
      <div id="photo1" class="pic"><%=images_tag("763a98cfe68081fa4cf7283fe76b5f34_w.jpg")%></div>
       <div id="photo2" class="pic"><%=images_tag("84ed40f9dba98745f2f077944c9fd2e5_w.jpg")%></div>
      <div id="photo3" class="pic"><%=images_tag("ace58c8fa4668a9c0384ccfcef3823d9_jpg")%></div>
      <div id="photo4" class="pic"><%=images_tag("16a7da76db05ae4745028b22a7e8a88a.jpg")%></div>
      <div id="photo5" class="pic"><%=images_tag("f648dbf3b2dbeb583622e026a6022190_w.jpg")%></div>
　　　<div style="padding:30%;"></div>
</div>
	<div class=""></div>
	<h1 class="user-video">
		<br>
		このサイトはユーザーの皆さんがバスケの動画投稿をするサイトです。<br>
		さぁ、一緒に楽しみましょう！<br>
	</div>