
<div class="row">			 
　<div class="yuzuki_text">
		<div class="text">
			<%= image_tag'76595781.jpg', :size => '1500x300' %>	
		</div>
	</div>
	
	<div class="col-md-offset-1 col-md-8">	
		<% @videos.each do |video| %>
		<div class="rejend">
			<li>
				<%= link_to video_path(video.id)  do %>
					<%= video_tag video.video_url.to_s,loop: true, controls: true, padding: 10,width: 400,height:310, id: "mv" %>
			 	<% end %>          
			</li>

			<li>
			<% if user_signed_in?  %>
				<% if current_user.admin == true %>
					<%= link_to "削除", video_path(video.id), class:'btn btn-primary delete', method: :delete, data: { confirm: "本当に削除してもよろしいですか?" } %>
					<%= video.title %>
						
						<!-- いいね -->
					<% if video.favorited_by?(current_user) %>
						<% favorite = current_user.favorites.find_by(video_id: video.id) %>
						<%= link_to video_favorite_path(video.id, favorite.id), method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						    <%= video.favorites.count %> いいね
						<% end %>
					<% else %>
						<%= link_to video_favorites_path(video), method: :post do %>
						    <i class="fa fa-heart-o" aria-hidden="true"></i>
						    <%= video.favorites.count %> いいね
						<% end %>
					<% end %>

				 <% end %>
			 <% end %>
	    	</li>
		</div>
		<% end %>      
	</div>    	
	
	<div class="col-md-2 ranking-font">
		<h4>ランキング</h4>
		<% @video_favorites_ids.each_with_index do |lank, i| %>
		<% lank = Video.find(lank) %>
			<div class="col-md-12">
			  <p><%= "#{i+1}" %>位</p> 
			  <%= link_to video_path(lank.id)  do %>
			  <%= video_tag lank.video_url.to_s,loop: true, controls: true, padding: 10, width: 100,height:120, id: "mv" %>
			  <% end %>          
			  <br>
			  <%= lank.video %><br>
			  <br>
			</div>
			  <% if i == 4 %>
			  <% break %>
			  <% end %>
			  <% end %>
			  </div>
	<div>

　</div>
</div>


	<div class="center-block">
	    <%= form_for @new_video do |f| %>
	      <div class="field-text">
		      <%=f.file_field :video %>
			  <%=f.text_field :video_content %>
			  <%= f.submit "送信" %>
		  </div>
	    <% end %>
	    <div class="text4">
	      <%= paginate @videos %>	     	
	    </div>
    </div>

