<div class="text3">
	<div class ="visual">
	<%= video_tag @video.video_url.to_s,loop: true, controls: true, width: 750, heigth: 500, id: "mv" %>
	</div>

	<!-- いいね -->
	<% if @video.favorited_by?(current_user) %>
	  <li>
		<% favorite = current_user.favorites.find_by(video_id: @video.id) %>
	    <%= link_to video_favorite_path(@video.id,favorite.id), method: :delete do %>

	      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
	      <%= @video.favorites.count %> いいね
	    <% end %>
	  </li>
	<% else %>
	  <li>
	    <%= link_to video_favorites_path(@video.id), method: :post do %>
	      <i class="fa fa-heart-o" aria-hidden="true"></i>
	      <%= @video.favorites.count %> いいね
	    <% end %>
	  </li>
		<% end %>
	<!-- chat -->
	<div class="container">
	  <h1>Chat Room</h1>
	  <form class="form-inline" onsubmit="return false;">
	    <div class="form-group">
	      <input type="text" class="form-control" id="chat-input" />
	    
	    </div>
	    <button id="button" class="btn btn-primary">送信</button>
	  </form>

	  <div id='messages' data-room_id="<%= @video.id %>">	  
	    <ul class="list-group" id="list-group">
	      <%= render @chat %>
	    </ul>
	  </div>
	</div>

</div>